In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("section6-1.csv",index_col=0)

In [4]:
data.head()

     item1  item2  item3  item4  item5  item6  item7  item8 Class
s01      5      4      4      5      4      4      6      5     A
s02      4      3      1      3      3      3      2      4     A
s03      4      4      3      3      3      3      3      3     A
s04      5      3      3      3      3      4      3      3     A
s05      3      2      3      3      3      3      3      3     A

In [5]:
data.tail()

     item1  item2  item3  item4  item5  item6  item7  item8 Class
s16      5      5      5      4      5      4      4      3     B
s17      4      3      3      4      4      4      3      3     B
s18      2      1      1      1      1      2      5      5     B
s19      4      3      3      4      3      3      2      2     B
s20      6      6      6      6      6      6      6      6     B

In [6]:
data.index

Index(['s01', 's02', 's03', 's04', 's05', 's06', 's07', 's08', 's09', 's10',
       's11', 's12', 's13', 's14', 's15', 's16', 's17', 's18', 's19', 's20'],
      dtype='object')

In [8]:
data.columns

Index(['item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'item7', 'item8',
       'Class'],
      dtype='object')

In [9]:
data.mean()

item1    4.15
item2    3.65
item3    3.50
item4    3.55
item5    3.40
item6    3.55
item7    3.60
item8    3.55
dtype: float64

In [10]:
data.describe()

,item1,item2,item3,item4,item5,item6,item7,item8
count,20.000000,20.000000,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,4.150000,3.650000,3.50000,3.550000,3.400000,3.550000,3.600000,3.550000
std,1.182103,1.424411,1.60591,1.503505,1.602629,1.468081,1.602629,1.431782
min,2.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.750000,3.000000,2.00000,3.000000,2.750000,3.000000,2.000000,3.000000
50%,4.000000,3.500000,3.00000,3.000000,3.000000,3.500000,3.000000,3.000000
75%,5.000000,4.250000,5.00000,4.250000,4.250000,4.000000,5.000000,4.250000
max,6.000000,6.000000,6.00000,6.000000,6.000000,6.000000,6.000000,6.000000

In [11]:
data.corr()

,item1,item2,item3,item4,item5,item6,item7,item8
item1,1.000000,0.876776,0.817884,0.898762,0.911238,0.890121,0.644534,0.632817
item2,0.876776,1.000000,0.908839,0.831888,0.894560,0.826792,0.673226,0.615492
item3,0.817884,0.908839,1.000000,0.861028,0.879347,0.837156,0.736198,0.560808
item4,0.898762,0.831888,0.861028,1.000000,0.930504,0.904906,0.707707,0.634457
item5,0.911238,0.894560,0.879347,0.930504,1.000000,0.952956,0.721311,0.678935
item6,0.890121,0.826792,0.837156,0.904906,0.952956,1.000000,0.769523,0.749922
item7,0.644534,0.673226,0.736198,0.707707,0.721311,0.769523,1.000000,0.903717
item8,0.632817,0.615492,0.560808,0.634457,0.678935,0.749922,0.903717,1.000000

In [12]:
data.head()

     item1  item2  item3  item4  item5  item6  item7  item8 Class
s01      5      4      4      5      4      4      6      5     A
s02      4      3      1      3      3      3      2      4     A
s03      4      4      3      3      3      3      3      3     A
s04      5      3      3      3      3      4      3      3     A
s05      3      2      3      3      3      3      3      3     A

In [13]:
data[data["Class"]=="B"]

     item1  item2  item3  item4  item5  item6  item7  item8 Class
s11      4      3      2      2      2      2      2      3     B
s12      6      6      6      6      6      6      6      6     B
s13      4      4      5      4      3      3      4      3     B
s14      5      5      5      5      5      5      5      4     B
s15      6      6      6      6      6      6      6      6     B
s16      5      5      5      4      5      4      4      3     B
s17      4      3      3      4      4      4      3      3     B
s18      2      1      1      1      1      2      5      5     B
s19      4      3      3      4      3      3      2      2     B
s20      6      6      6      6      6      6      6      6     B

In [15]:
data[(data["item1"]>4) & (data["item2"]>4)]

     item1  item2  item3  item4  item5  item6  item7  item8 Class
s12      6      6      6      6      6      6      6      6     B
s14      5      5      5      5      5      5      5      4     B
s15      6      6      6      6      6      6      6      6     B
s16      5      5      5      4      5      4      4      3     B
s20      6      6      6      6      6      6      6      6     B

In [16]:
data[(data["item1"]>4) | (data["item2"]>4)]

     item1  item2  item3  item4  item5  item6  item7  item8 Class
s01      5      4      4      5      4      4      6      5     A
s04      5      3      3      3      3      4      3      3     A
s12      6      6      6      6      6      6      6      6     B
s14      5      5      5      5      5      5      5      4     B
s15      6      6      6      6      6      6      6      6     B
s16      5      5      5      4      5      4      4      3     B
s20      6      6      6      6      6      6      6      6     B

In [17]:
data.sort_values(by="item1")

     item1  item2  item3  item4  item5  item6  item7  item8 Class
s18      2      1      1      1      1      2      5      5     B
s06      2      3      2      1      1      1      2      2     A
s05      3      2      3      3      3      3      3      3     A
s08      3      2      2      3      2      3      2      2     A
s09      3      2      2      2      1      1      1      1     A
s10      4      4      4      3      4      4      3      3     A
s02      4      3      1      3      3      3      2      4     A
s03      4      4      3      3      3      3      3      3     A
s07      4      4      4      3      3      4      4      4     A
s19      4      3      3      4      3      3      2      2     B
s11      4      3      2      2      2      2      2      3     B
s17      4      3      3      4      4      4      3      3     B
s13      4      4      5      4      3      3      4      3     B
s16      5      5      5      4      5      4      4      3     B
s01      5      4      4      5      4      4      6      5     A
s14      5      5      5      5      5      5      5      4     B
s04      5      3      3      3      3      4      3      3     A
s12      6      6      6      6      6      6      6      6     B
s15      6      6      6      6      6      6      6      6     B
s20      6      6      6      6      6      6      6      6     B

In [18]:
data.tail()

     item1  item2  item3  item4  item5  item6  item7  item8 Class
s16      5      5      5      4      5      4      4      3     B
s17      4      3      3      4      4      4      3      3     B
s18      2      1      1      1      1      2      5      5     B
s19      4      3      3      4      3      3      2      2     B
s20      6      6      6      6      6      6      6      6     B

In [20]:
data2 = pd.read_csv("section6-2.csv",index_col=0)

In [21]:
data2.tail()

     item1  item2  item3  item4  item5  item6  item7  item8 Class
s16      5      5    5.0    4.0      5      4    4.0      3     B
s17      4      3    3.0    4.0      4      4    3.0      3     B
s18      2      1    NaN    1.0      1      2    5.0      5     B
s19      4      3    3.0    4.0      3      3    2.0      2     B
s20      6      6    6.0    6.0      6      6    6.0      6     B

In [22]:
data3 = pd.read_csv("section6-3.csv",index_col=0)

In [24]:
data3.head()

      item1  item2  item3  item4
S001      2    3.0    3.0      3
S002      3    3.0    4.0      4
S003      4    4.0    3.0      4
S004      5    4.0    3.0      4
S005      3    4.0    2.0      4

In [25]:
data3.tail()

      item1  item2  item3  item4
S011      4    NaN    4.0      3
S012      3    4.0    3.0      3
S013      3    4.0    4.0      3
S014      3    4.0    3.0      4
S015      5    5.0    5.0      4

In [26]:
data3 = data3.dropna()

In [27]:
data3

      item1  item2  item3  item4
S001      2    3.0    3.0      3
S002      3    3.0    4.0      4
S003      4    4.0    3.0      4
S004      5    4.0    3.0      4
S005      3    4.0    2.0      4
S006      3    3.0    4.0      3
S007      4    3.0    4.0      4
S009      4    5.0    5.0      5
S010      2    2.0    1.0      2
S012      3    4.0    3.0      3
S013      3    4.0    4.0      3
S014      3    4.0    3.0      4
S015      5    5.0    5.0      4

In [28]:
data3.mean()

item1    3.384615
item2    3.692308
item3    3.384615
item4    3.615385
dtype: float64

In [30]:
data3 = data3.T

In [44]:
data3["mean"] = data3.mean(axis=1)

In [45]:
data3["mean"]

item1    3.384615
item2    3.692308
item3    3.384615
item4    3.615385
Name: mean, dtype: float64

In [50]:
data3 = data3.sort_values(by="mean",ascending=False)

In [51]:
data3

,S001,S002,S003,S004,S005,S006,S007,S009,S010,S012,S013,S014,S015,mean
item2,3.0,3.0,4.0,4.0,4.0,3.0,3.0,5.0,2.0,4.0,4.0,4.0,5.0,3.692308
item4,3.0,4.0,4.0,4.0,4.0,3.0,4.0,5.0,2.0,3.0,3.0,4.0,4.0,3.615385
item1,2.0,3.0,4.0,5.0,3.0,3.0,4.0,4.0,2.0,3.0,3.0,3.0,5.0,3.384615
item3,3.0,4.0,3.0,3.0,2.0,4.0,4.0,5.0,1.0,3.0,4.0,3.0,5.0,3.384615