In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("original (5).csv",index_col=0)

In [3]:
data.head()

      test_1  test_2
S001     510     585
S002     722     800
S003     513     607
S004     730     800
S005     483     445

In [6]:
m1 = data["test_1"].mean()
m2 = data["test_2"].mean()
s1 = data["test_1"].std()
s2 = data["test_2"].std()

In [9]:
r = data.corr()["test_1"][1]

In [11]:
E = []

for i in data["test_1"]:
    e = m2 + r*(s2/s1)*(i-m1)
    E.append(e)

In [12]:
data["expected"] = E

In [13]:
data.head()

      test_1  test_2    expected
S001     510     585  569.237508
S002     722     800  796.900825
S003     513     607  572.459159
S004     730     800  805.491893
S005     483     445  540.242652

In [14]:
data["diff"] = data["test_2"] - data["expected"]

In [15]:
data.head()

      test_1  test_2    expected       diff
S001     510     585  569.237508  15.762492
S002     722     800  796.900825   3.099175
S003     513     607  572.459159  34.540841
S004     730     800  805.491893  -5.491893
S005     483     445  540.242652 -95.242652

In [16]:
len(data[data["diff"]>0])

108